.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

ul.menu {
  background: none !important;
}

ul.submenu {
  background: white !important;
  text-align: left;
}

.small-nav-bar {
  background-color: $navbar-bg-color;
  height: $navbar-lg-height;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
  position: relative;
<<<<<<< HEAD:assets/styles/page-structure/_header.scss
  @include breakpoint(large) {
    display: none !important;
  }
  @include breakpoint(medium down) {
    height: 100px;
  }
  .title-bar-title div.site-logo {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 10px;
    width: 169px;
  }
  .menubar-icon {
    font-size: 16pt;
    margin-left: 10px;
    color: black;
  }
  .search-icon {
    font-size: 16pt;
    margin-right: 10px;
    color: black;
=======
  height: 80px;

  @include breakpoint(large) {
    display: none !important;
  }

  .menubar-icon {
    font-size: 16pt;
    margin-left: 10px;
    color: $primary-color;
  }

  .title-bar-title {
    padding-left: 10px;
>>>>>>> c3a5c39cc875b2388c172fd6a9bb2cec0cf559d8:assets/styles/layouts/_header.scss
  }
  .title-bar-right {
    padding-right: 10px;
  }

  .custom-logo {
    height: 60px;
  }
}

.top-bar-inner {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.large-nav-bar {
  height: $navbar-lg-height;
  background-color: $navbar-bg-color;
  width: 100%;
  z-index: 98;
  position: relative;
  justify-content: space-between;
  @include breakpoint(medium down) {
    display: none;
  }
<<<<<<< HEAD:assets/styles/page-structure/_header.scss
  .top-bar-center {
    align-self: center;
  }
  .top-bar-right {
    align-self: center;
    right: 10px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
  }
  .top-bar-left {
    align-self: center;
    left: 10px;
  }
=======

.top-bar-right {
  align-self: center;
  height: 35px;
}

.top-bar-left {
  align-self: center;
  left: 10px;
}

>>>>>>> c3a5c39cc875b2388c172fd6a9bb2cec0cf559d8:assets/styles/layouts/_header.scss
  .top-bar-nav {
    background: none !important;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
<<<<<<< HEAD:assets/styles/page-structure/_header.scss
    li {
      padding: 5px;
      a {
        color: $navbar-lg-link-color;
        &:hover {
          background-color: $navbar-lg-link-hover-color;
        }
=======

    li a {
      color: $navbar-lg-link-color;
      font-weight: 700;
      &:hover {
        background-color: $navbar-lg-link-hover-color;
>>>>>>> c3a5c39cc875b2388c172fd6a9bb2cec0cf559d8:assets/styles/layouts/_header.scss
      }
    }
  }
}

<<<<<<< HEAD:assets/styles/page-structure/_header.scss
.custom-logo {
  height: 90px;
  width: auto;
  @include breakpoint(medium down) {
    height: auto;
  }
}
=======
.large-nav-bar-lower {
  height: 60px !important;
  background-color: $primary-color !important;
}

.top-bar-center {
  margin: 0 auto;
}

.large-nav-bar-container {
  @include grid-row();
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.large-nav-bar-slogan {
  img {
    height: 30px;
  }
  @include bounceInDown(
          $duration: 1s,
          $delay: .5s,
          $function: ease,
          $fill: both
  );
}

.custom-logo {
  height: 80px;
  width: auto;
}
>>>>>>> c3a5c39cc875b2388c172fd6a9bb2cec0cf559d8:assets/styles/layouts/_header.scss
