.navbar-topnav {
  background-color: $topnav-bg-color;
  height: $topnav-height;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 99;
  position: relative;

  @include breakpoint(medium down) {
    display: none;
  }

  .top-bar-right {
    position: absolute;
    right: 0;
  }

  .menu {
    li a {
      color: white;
      font-family: 600;
    }
  }

  .search-form {
    margin-right: -10px;
    display: flex;
    height: 35px;

    .search-field {
      height: 100%;
      width: 300px;
      max-width: none !important;
      margin-right: -1px;
    }

    .search-submit {
      height: 100%;
      width: 100px;
      font-weight: 500;
    }

  }



}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
    z-index: 99999;
}