.post-block {
    @include grid-column(4);
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 250px;
    background-image: url('../images/grey-spinner.gif');
    background-position: center;
    background-size: cover;
    border: 15px solid white;

    position: relative;

    @include breakpoint(small only) {
         padding-top: 10px;
        padding-bottom: 10px;
        @include grid-column(12);
    }

    @include breakpoint(medium only) {
        @include grid-column(6);
    }

    .post-block-inner {
        height: 100%;
        width: 100%;
        text-align: center;
        @include grid-row;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .post-title {
            color: white;
            @include grid-column(10);
            font-size: 14pt;
            background-color: rgba(0, 0, 0, 0.65);
            @include grid-row;
        }

        .post-date {
            color: white;
            @include grid-column(10);
            font-size: 14pt;
            background-color: rgba(0, 0, 0, 0.65);
            @include grid-row;

        }

    }


    .post-block-content {
      display: none;
    }

}

.post-block-list {
  @include grid-column(12);
  background: none !important;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 250px;

  position: relative;

  .media-object {
    width: 100%;
  }

  .image-section {
    max-width: 400px;
    height: 220px;

    .thumbnail {
      height: 100%;
      width: 100%;

      img {
        display: block;
        height: 100%;
        width: 100%;
        padding: inherit;
      }

    }

  }

  .post-image {
    max-width: 400px;
    width: 100%;
    overflow: hidden;
    max-height: 200px;

    .thumbnail {
      display: flex;
      align-items: center;
    }

  }

  .post-block-inner {
    display: none;
  }

  .post-block-content {
    display: flex;
  }

}
