.search-form {
  min-height: 35px;

  .input-group {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 100%;
  }

  .search-field {
    min-width: 270px;
  }
  .search-submit {
    background-color: $secondary-color;
  }

}

.search-results {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  min-height: 135px;
  width: 100%;

  .search-results-list {
    list-style: none;
    margin-top: 10px;
    background: none;
    overflow-x: scroll;

    li a {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: -20px;

      img {
        height: 75px;
        max-width: 100px;
      }

      h5 {
        margin-bottom: 0;
      }

      a {
        color: grey;
        margin-right: 10px;
      }

    }

  }

}

.post-archive-search {
  position: relative;
}

.archive-search-form {
  @extend .search-form;
}

.archive-search-results {
  @extend .search-results;
  @include grid-column(12);
}

.archive-search-results-list {
  @extend .search-results-list;
  @include grid-column(12);
}
