.content{
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.fullwidth {
   margin: 0 !important;    
   padding: 0 !important;
   max-width: none;
}

hr {
  width: 50%;
  background-color:  $secondary-color; 
  height: 2px; 
  border: 0; 
  float: left;
}

.highlighted {
  color: $secondary-color;
}

.no-bg {
  background: none !important;
}

.off-canvas-wrapper {
  overflow: hidden;
}

button:focus {outline:0;}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.sticky {
  z-index: 20;
}

.main {
  padding-bottom: 2rem !important;
}


.hide-on-load {
  visibility: hidden;
}