.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

ul.menu {
  background: none !important;
}

.small-nav-bar {
  background-color: $navbar-bg-color;
  height: $navbar-lg-height;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
  position: relative;
  height: 80px;

  @include breakpoint(large) {
    display: none !important;
  }

  .menubar-icon {
    font-size: 16pt;
    margin-left: 10px;
    color: $primary-color;
  }

  .title-bar-title {
    padding-left: 10px;
  }

  .title-bar-right {
    padding-right: 10px;
  }

  .custom-logo {
    height: 60px;
  }

}

.large-nav-bar {
  height: $navbar-lg-height;
  background-color: $navbar-bg-color;
  width: 100%;
  z-index: 98;
  position: relative;

  @include breakpoint(medium down) {
    display: none;
  }

.top-bar-right {
  align-self: center;
  height: 35px;
}

.top-bar-left {
  align-self: center;
  left: 10px;
}

  .top-bar-nav {
    background: none !important;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li a {
      color: $navbar-lg-link-color;
      font-weight: 700;
      &:hover {
        background-color: $navbar-lg-link-hover-color;
      }
    }
  }

}

.large-nav-bar-lower {
  height: 60px !important;
  background-color: $primary-color !important;
}

.top-bar-center {
  margin: 0 auto;
}

.large-nav-bar-container {
  @include grid-row();
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.large-nav-bar-slogan {
  img {
    height: 30px;
  }
  @include bounceInDown(
          $duration: 1s,
          $delay: .5s,
          $function: ease,
          $fill: both
  );
}

.custom-logo {
  height: 80px;
  width: auto;
}
