.landing-page {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    display: flex;
    align-items: center;

    .down-icon {
      margin: 0 auto;
      color: white;
      position: absolute;
      bottom: 25px;
      right: 0;
      left: 0;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18pt;
    }

    .landing-page-content {
      @include grid-row;

      blockquote p {
        color: white;
        font-size: 17pt;
      }

    }

}
