.page-header {
    height: 500px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-left: -15px;
	position: relative;
    @include breakpoint(medium down) {
        height: 350px;
		background-position: top !important;
    }

    .page-header-inner {
        @include grid-row;
        width: 80%;
		z-index: 1;
    }
	
	.page-header-background {
		position: absolute;
		width: 100%;
		background: rgba(0,0,0,0.2);
		height: 100%;
		left: 0;
		top: 0;
		z-index: 0;
	}

    .entry-title {
        text-align: center;
        color: white;
        padding: 10px;
        margin: 0 auto;
        float: none !important;
        @include grid-column(8);
        @include breakpoint(medium down) {
            @include grid-column(10);
        }
    }

    .meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.65);
        color: white;
        align-items: center;
        padding: 5px;
        margin: 0 auto;
        margin-top: 30px;
        float: none !important;
        @include grid-column(6);
        @include breakpoint(medium down) {
            @include grid-column(10);
        }
        p {
            margin-bottom: auto;
        }
    }

  }
